<script>
window.onerror = function(m,u,l){
alert('Error:'+m+'\nURL:'+u+'\nLine:'+l);
return true;
};
</script>
<div>
</div>
<img id="image1" style="width:auto;height:95%;">
</img>
<script>
a1 = window.location.href;

//vid frame

s = a1.substring(a1.indexOf("?") + 1);

frame = 0;

img = [];

once = true;

a = [];
loadScript();

function f1(){
if (once){
loadImages();
window.setInterval(render,10);
once = false;
}
}

function f2(e){
if(e.keyCode == 37){
frame--;
}
else if(e.keyCode == 39){
frame++;
}
}

function render(){
if (frame > a.length - 1){
frame = 0;
}
else if (frame < 0){
frame = a.length - 1;
}

document.getElementById("image1").src = img[frame].src;
}

function loadImages(){
for (i = 0;i < a.length;i++){
img[i] = document.createElement("img");
img[i].src = "data:image/jpg;base64," + a[i];
}

document.addEventListener("keydown",f2);
}

function loadScript(){
if (s.indexOf("dropbox.com/") > -1){
s = "https://dl.dropboxusercontent.com/" + s.substring(s.indexOf("dropbox.com/") + 12);
}

x = new XMLHttpRequest();
x.onreadystatechange = loadScript1;
x.open("GET",s,true);
x.send(null);
}

function loadScript1(a1){
var x = a1.target;

if (x.readyState != 4){
return 0;
}

if (x.status != 200){
alert("error");
return 0;
}

eval(x.responseText);

window.setInterval(f1,100);
}

</script>